*{box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html {
    scroll-behavior: smooth;
  }
.nav{
  display: flex;
  justify-content: center;
  background-color: rgb(13, 13, 14); 
  overflow: hidden;
  text-align:center;
  position:fixed;
  top:0;
 scroll-behavior: smooth;
 z-index: 1;
}
.button{
    background-color: white;
    border:10px;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  justify-content: space-around;
}
.button:hover{
    background-color: #5d5656;
    font-style: oblique;
    transition-duration: 0.4s;
}
.nav li{
    display:inline-block;
    border-color: gray;
    margin:0;
    font-size: 20px;
    padding: 20px;
}
.nav li a{
    color: black;
}
.flex-container {
    display: flex;
    height: 920px;
    justify-content: center;
    align-items: center;
}
.parallax {
    background-image: url("./6844457.jpg");
    min-height: 600px;
    background-attachment: fixed;
    backface-visibility: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
  }
  .parallax1 {
    border-radius:50px;
    background-image: url("./1c19e086128681.5d909dad462a4.jpg");
    min-height: 600px;
    background-attachment: fixed;
    backface-visibility: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
  }
  .parallax2 {
    border-radius: 50px;
    background-image: url("./WallpaperDog-713218.jpg");
    min-height: 600px;
    background-attachment: fixed;
    backface-visibility: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
  }
.font{
    font-size:200px;
    font-display: center;
    font-family:ludica handwriting;
    color: whitesmoke;
    text-align: center;
    text-decoration-line:underline;
}
.font1{
    font-size:20px;
    font-style: italic;
    margin-top: 100px;;
    color: aliceblue;
    text-align: center;
}
.heading
{   font-family:ludica handwriting;
    text-align: center;
    font-size:80px;
    color:white;
    text-shadow: 10px 10px 40px #8f7ddd;
    /*text-decoration: underline;*/
}
.flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content:center ;
    z-index: 1;
}
.flex-container1 div img{
    display: inline-block;
    justify-content: space-around;
    justify-content: left;
    margin-top: 50px;
    margin-right: 0;
   
}
.flex-container1 div img:hover{
    transform:scaleX(-1);
    cursor: pointer;
}
.text{
    display :inline-block;
    justify-content: center;
    justify-content:right;
    font-style:'ludica handwriting' ;
    width:550px;
    color: white;

}
.text h2{
    color:white;
     font-size:50px; 
    font-style:'ludica handwriting' ;
}
.text h3{
    font-size: 25px;
}
.content{
    font-size: 35px;
    font-family: cursive;
    text-align: justify;
    color: white;
    /* width: 350px;
  height: 500px; */
  padding: 10px;
}
div h1{
color: #fdfefe;
}
div h2{
color: aliceblue;
}
.skill {
    display: flex;
    margin-top: 40vh;
    justify-content: center;
}
.skill i{
    /* display: inline-block; */
    justify-items: center;
    justify-content: space-around;
    /* width: 10vw; */
    padding: 0 20px;
    font-size: 200px;

}
/* .skill li a{
    display:inline-block;
    justify-content: center;
    justify-items: baseline;
    justify-content: space-around;
    margin:80px;
} */
.img{
    height:300px;
}
.about{
    border-radius: 50px;
    border: 2px solid #070707;
    background-color: black; 
    height: 900px;
}
.contact{
    display :flex;
    justify-content: center;
}
.contact li{
    display: inline-block;
    justify-items: center;
    justify-content: space-around;
}
.contact li a{
    display:inline-block;
    justify-content: center;
     font-size:80px;
     margin: 50px;
    
}
.contact li:hover{
    cursor: pointer;
 transform:scaleX(-1) ;
 color: #fdfefe;
 transition-duration: 1s;
}